* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: verdana, georgia, arial;
}

.title {
    font-family: Cabin Sketch;
    font-size: 48px;
    color: white;
}

header, footer {
    background-color: #5F4B8BFF;
    color: white;
}

.content {
    flex: 1;
    background-color: #E69A8DFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 504px;
    height: 504px;
}

.grid-container {
    background-color: #e18c7a;
    border: 2px solid #5F4B8BFF;
}

.square-clicked {
    background-color: #c9bfd8;
}

.slider-container {
    display: flex;
    gap: 4px;
}

.slider-container input[type=text] {
    width: 36px;
    border: 2px solid #5F4B8BFF;
    border-radius: 4px;
    background-color: #e18c7a;
    color: white;
    text-align: center;
    font-weight: bold;
}

.slider-container button {
    background-color: #5F4B8BFF;
    border: 1px solid #5F4B8BFF;
    border-radius: 4px;
    color: white;
}

.slider-container button:hover {
    background-color: #4c3c6f;
    color: white;
}

.slider-container button:active {
    background-color: #5F4B8BFF;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

footer {
    padding: 32px 0;
}